@import url("variables.css");
@import url("global.css");
@import url("block.css");
@import url("composition.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #3f1e72;
    background-image:
        repeating-conic-gradient(#3f1e72 0% 25%, #5a2a9e 0% 50%);
    background-size: 20px 20px;
    color: white;
    padding: 2rem;
    text-align: center;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    box-shadow:
        inset 0 0 0 4px #2d1654,
        inset 0 0 0 8px #5a2a9e,
        0 8px 0 #1a0d33;
    position: relative;
}

header h1 {
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        4px 4px 0 #5a2a9e,
        5px 5px 0 #8b44d4;
    filter: contrast(1.2);
}

main {
    padding: 2rem;
}